body {
    background-color: aquamarine;
}

#dropButton {
    background-color: grey;
    color: white;
    font-size: 16px;
    border: black;
    border-style: dashed;
    width: 155px;
    padding: 10px 0px;
}
#districtDropdown {
    display: inline-block;
    position: absolute;
    left: 40%;
    top: 15%;
    transform: translate(-50%,-50%);
    -moz-transform: translate(-50%,-50%);
}
.districtDropdownContent {
    display: grid;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 155px;
    z-index: 1;
}
.districtDropdownContent a {
    color: black;
    padding: 12px 16px;
    display: block;
}
#districtDropdown:hover .districtDropdownContent {
    display: grid;
}
#districtDropdown:hover .dropButton {
    background-color: rgb(104, 104, 104);
}

#tempNameText {
    font-size: 25px
}

#tempAgeText{
    font-size: 25px
}

#maleStuff {
    display: grid;
    grid-template: "A" "B";
    position: absolute;
    top: 20%;
    left: 50%;
    transform: translate(-50%,-50%);
    -moz-transform: translate(-50%,-50%);
    text-align: center;
}

#femaleStuff {
    display: grid;
    grid-template: "A" "B";
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%,-50%);
    -moz-transform: translate(-50%,-50%);
    text-align: center;
    box-shadow: 0px;
}

