#dropButton {
    background-color: grey;
    color: white;
    font-size: 16px;
    border: black;
    border-style: dashed;
    width: 155px;
    padding: 10px 0px;
}
#districtDropdown {
    display: inline-block;
    position: absolute;
    left: 50%;
    top: 10%;
    transform: translate(-50%,-50%);
    -moz-transform: translate(-50%,-50%);
}
.districtDropdownContent {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 155px;
    z-index: 1;
}
.districtDropdownContent a {
    color: black;
    padding: 12px 16px;
    display: block;
}
#districtDropdown:hover .districtDropdownContent {
    display: grid;
}
#districtDropdown:hover .dropButton {
    background-color: rgb(104, 104, 104);
}
.nameCapsule{
    
}
#tempNameText {
    font-size: 25px
}
.ageCapsule{
    
}
#tempAgeText{
    font-size: 25px
}